a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #007175;
}

.home-container {
  margin: 70px 0;
  & .header-image {
    overflow: hidden;
    & img {
      width: 100%;
    }
  }
}

.loading {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: unset !important;
  gap: 16px;
  margin-top: 30px;
}

.products-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.16),
    0 5px 10px 5px rgba(0, 0, 0, 0.12);
  padding-top: 16px;
  & span {
    display: flex;
    justify-content: space-between;
    & .btn {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 100%;
      font-size: 11px;
    }
    & :first-child {
      border-radius: 0 0 0 10px;
    }
    & :last-child {
      border-radius: 0 0 10px 0;
    }
  }
  &:hover {
    img {
      transform: rotate(5deg);
    }
  }
}

.products-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & img {
    mix-blend-mode: multiply;
    border-radius: 10px;
    max-width: 185px;
    height: 185px;
    object-fit: contain;
    transition: all 300ms;
  }
  & p {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
  }
}

@media (width < 600px) {
  .products-container {
    width: 192px;
    padding-top: 8px;
    & span {
      & p {
        margin: 8px 0;
        font-size: 12px;
      }
      & .btn {
        font-size: 8px;
        & svg {
          height: 18px;
        }
      }
      & :first-child {
        border-radius: 0 0 0 10px;
      }
      & :last-child {
        border-radius: 0 0 10px 0;
      }
    }
  }

  .products-card {
    & img {
      max-width: 140px;
      max-height: 140px;
      &:hover {
        transform: unset;
      }
    }
    & p {
      margin: 8px 0;
      font-size: 13px;
    }
  }
}

@media (width < 400px) {
  .products-container {
    width: 162px;
  }
}
