a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #007175;
}

.home-container {
  margin-top: 70px;
}
.header-image {
  overflow: hidden;
}

.header-image img {
  height: 250px;
}
@media screen and (min-width: 600px) {
  .header-image img {
    width: 100%;
    height: auto;
  }
}

.loading {
  display: flex;
  justify-content: space-around;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  gap: 15px;
  margin: 15px;
}
@media screen and (min-width: 600px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.16),
    0 5px 10px 5px rgba(0, 0, 0, 0.12);
}

.products-image {
  width: 185px;
  height: 185px;
  object-fit: contain;
}

.products-title {
  padding: 5px;
}
.products-title p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 16px;
}

.add-to-cart:hover {
  filter: drop-shadow(0 0 10px #61dafbaa);
}
