.cart {
  margin: 70px 0;
  padding: 10px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.16),
    0 5px 10px 5px rgba(0, 0, 0, 0.12);
  .scroll-down {
    margin-bottom: 16px;
  }
}

.cart-card {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  & .cart-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & img {
      object-fit: contain;
      width: 90px;
      height: 90px;
    }
    & .cart-title {
      text-align: end;
      font-size: 18px;
    }
  }
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfdfdf;
  border-bottom: 1px solid red;
  /* box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 12px 12px 0 rgba(0, 0, 0, 0.12); */
  & .quantity-btns {
    display: flex;
  }
  & .remove-item {
    height: 40px;
  }
}

.checkout-btn {
  margin-top: 10px !important;
}

@media (width < 600px) {
  .cart {
    margin: 60px 0;
    & h1 {
      font-size: x-large;
      margin-bottom: 16px;
    }
  }

  .cart-card {
    padding-bottom: 4px;
    & .cart-content {
      & p {
        font-size: 14px;
      }
    }
    & p {
      font-size: 11px;
    }
  }

  .cart-btns {
    & .remove-item {
      font-size: 11px;
      width: 10px !important;
      max-height: 30px;
      & svg {
        height: 22px;
      }
    }
  }
}
