.cart {
  margin: 20px 0 80px;
  padding: 10px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.16),
    0 5px 10px 5px rgba(0, 0, 0, 0.12);
  & h1 {
    background: -webkit-linear-gradient(
      0deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .estimated {
    padding: 20px 0 4px;
    text-align: end;
    border-bottom: 2px solid #9c27b0;
    font-size: 22px;
    & p {
      font-weight: 600;
      margin: 0;
      & span {
        color: #8400ff;
      }
    }
  }
}

.cart-card {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  & .cart-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & img {
      object-fit: contain;
      width: 90px;
      height: 90px;
    }
    & .cart-title {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      & :first-child {
        & p {
          overflow: hidden;
          display: -webkit-box;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
      & :last-child {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
  }
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfdfdf;
  /* border-bottom: 1px solid #9c27b0; */
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 12px 12px 0 rgba(0, 0, 0, 0.12);
  & .quantity-btns {
    display: flex;
    & p {
      /* font-size: small; */
      font-weight: 700;
    }
  }
  & .remove-item {
    height: 40px;
  }
}

.checkout-btn {
  margin-top: 16px !important;
}

@media (width < 600px) {
  .cart {
    & h1 {
      font-size: 22px !important;
      margin-bottom: 16px;
    }
  }

  .cart-container {
    padding: 10px;
    & .estimated {
      border-bottom: 2px solid #9c27b0;
      font-size: 18px;
      & p {
        padding-top: 4px;
        /* border-top: 2px solid #9c27b0; */
        & span {
          color: #8400ff;
        }
      }
    }
  }

  .cart-card {
    padding-bottom: 4px;
    & .cart-content {
      & p {
        font-size: 14px;
      }
    }
    & p {
      font-size: 11px;
    }
  }

  .cart-btns {
    & .remove-item {
      font-size: 11px;
      width: 10px !important;
      max-height: 30px;
      & svg {
        height: 22px;
      }
    }
  }
}
