.header {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
.header-align {
  color: #ffff90;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
