.footer {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}
.footer-align {
  color: #ffff90;
  font-size: 24px;
  text-align: center;
  font-size: 24px;
  padding: 5px 10px;
}
